<!DOCTYPE html>
<html>
  <head>
    <title>Our Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <img src="/assets/intro.jpeg" alt="map" />
  <div>

    <% if current_user.present? %>
      <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
    <% end %>
  </div>
    <%= yield %>
    <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
  </body>
</html>

